<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="/css/bookstyle.css">

    <title>Book Details</title>
  </head>
  <body>

    <%- include('top_bar', {user:user}) %>

    <div class="ui segment">
        <div class="ui unstackable items">
            <div class="item">
              <div class="image">
                <img src="<%= relatedBook.imgLink %>" />
              </div>
              <div class="content">
                <h2 class="header"><%= relatedBook.name %></h2>
                <div class="description">
                  <p><%= relatedBook.description %></p>
                </div>
                <h4 class="header">
                  <span class="extra">Written By: <span class="Author"><%= relatedBook.author %></span> 
                </h4>
                <div class="extra">Rating: &nbsp; <span class="rate-result"><%=relatedRate.toFixed(2)%></span>
                  <div data-rating="<%= relatedRate %>" class="filler"></div>
                  <div class="stars-container">
                    <img src="/images/1.png" alt="not found" />
                    <img src="/images/1.png" alt="not found" />
                    <img src="/images/1.png" alt="not found" />
                    <img src="/images/1.png" alt="not found" />
                    <img src="/images/1.png" alt="not found" />
                  </div>
                </div>
              </div>
            </div>
            <br />
        </div>
    </div>

    <% reviews.forEach(review => {%>
    <div class="ui segment">
        <div class="ui comments">
            <div class="comment">
              <a class="avatar">
                <img class="avatar-image" src="">
              </a>
              <div class="content">
                <a class="author"><%= review.name %></a>
                <div class="metadata">
                  <div class="date"><%=review.date.toLocaleString()%></div>
                  <div class="rating">
                    <i class="star icon"></i>
                    <%= review.rating %> Stars
                  </div>
                </div>
                <div class="text">
                    <%=review.review%>
                </div>
                <% if (user && user._id == review.userId.toString()) {%>
                  <a href="/api/reviews/delete/<%=review._id%>" class="ui mini red button">Delete</a>
                  <a href="/api/reviews/edit/<%=review._id%>" class="ui mini yellow button">Edit</a>
                <%}%>
              </div>
            </div>
        </div>
    </div>
    <% }) %>

    <% if(!alreadyReviewed && user) {%> 
    <a href="/api/reviews/add/<%= relatedBook._id %>" class="ui teal button add-button">Add a review</a>
    <%}%>

    <script src="/javascript/bookDetailsDOM.js"></script>
  </body>
</html>

